.footer{
    margin-top:25px;
    padding-top:25px;
    border-top:3px solid rgba(0, 0, 0, 0.1);
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__icon{
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        margin-bottom:5px;
    }
    .footer__text{
        font-size: 15px;
        color: rgba(0, 0, 0, 0.5);

    }
}